<!-- <ion-header>
  <ion-toolbar>
    <ion-title> Parent </ion-title>
  </ion-toolbar>
</ion-header> -->


<!-- Getting data from Child 2 -->
<ion-content>
<app-child2 (sendChild2Data)="getChild2Data($event)"></app-child2>
</ion-content>

<!-- Getting data from Child 1 with a slide menu -->
<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" (sendChild1Data)="getChild1Data($event)">
            <ion-label class="C-Text">
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>